URxvt.font:         xft:Iosevka:style=light:size=11, xft:Input:style=regular:size=11, xft:M+ 1mn light for Powerline:style=regular:size=11
URxvt.lineSpace:    3
URxvt.scrollBar:    false
Xft.rgba:           rgb
Xft.dpi:            100:unscaled
Xft.antialias:      true
Xft.hinting:        true
Xft.autohint:       false
Xft.hintstyle:      hintmedium
Xft.lcdfilter:      lcddefault

! dkeg 2015
! blok 




! -- Author:  dkeg
! -- Created: 2016
! -- Title:   provrb 




! dkeg 2014
! browntownReload 

#define bg      #242120
#define fg      #b7afa4
#define blk     #272625
#define bblk    #4f4d4c
#define red     #925633
#define grn     #757c60
#define ylw     #987f4b
#define blu     #515962
#define mag     #685054
#define cyn     #506168 
#define wht     #b7afa4

*background:   bg  
*foreground:   fg  
*cursorColor:  cyn  

*color0:      blk  
*color8:      bblk  
*color1:      red  
*color9:      red  
*color2:      grn  
*color10:     grn  
*color3:      ylw  
*color11:     ylw  
*color4:      blu  
*color12:     blu  
*color5:      mag  
*color13:     mag  
*color6:      cyn  
*color14:     cyn  
*color7:      wht  
*color15:     wht  
