URxvt.font:         xft:Input:style=Regular:size=10.5, xft:Siji:style=Regular:size=10, xft:FontAwesome:style=Regular:size=10
URxvt.scrollBar:    false

Xft.rgba:			rgb
Xft.antialias:      true
Xft.hinting:        true
Xft.autohint:       false
Xft.hintstyle:      hintslight
Xft.lcdfilter:      lcddefault

!Rofi
rofi.lines:         5
rofi.width:         30
rofi.bw:            5

rofi.color-window:  #2c2c35,#b56550,#b4ada4
rofi.color-normal:  #2c2c35,#b4ada4,#31313b,#b56550,#31313b
rofi.color-active:  #6b925a,#31313b,#6b925a,#b56550,#31313b
rofi.color-urgent:  #6e747b,#31313b,#6e747b,#b56550,#31313b

rofi.hide-scrollbar: true
rofi.font:        Input 11
rofi.separator-style: solid
! Title: subtle 
! Author: dkeg
! Created: 2015 

#define bg     #2c2c35 
#define fg     #b4ada4 
#define blk    #31313b 
#define bblk   #45454d 
#define red    #b56550 
#define grn    #6b925a 
#define ylw    #b79b58 
#define blu    #6e747b 
#define mag    #96787d 
#define cyn    #7b8889 
#define wht    #b4ada4 
#define bred   #b56550 
#define bgrn   #6b925a 
#define bylw   #b79b58 
#define bblu   #6e747b 
#define bmag   #96787d 
#define bcyn   #7b8889 
#define bwht   #b4ada4 

! Colors  
*background:   bg  
*foreground:   fg  

*color0:      blk  
*color8:      bblk  
*color1:      red  
*color9:      bred  
*color2:      grn  
*color10:     bgrn  
*color3:      ylw  
*color11:     bylw  
*color4:      blu  
*color12:     bblu  
*color5:      mag  
*color13:     bmag  
*color6:      cyn  
*color14:     bcyn  
*color7:      wht  
*color15:     bwht 
